<div id="<%= dom_id post %>">
    <p>
        <strong>Body:</strong>
        <%= post.body %>
    </p>

    <p>
        <strong>Description:</strong>
        <%= post.description %>
    </p>

    <p>
      <%= link_to "Show this post", post %>
    </p>
    <hr/>
</div>
